@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .card {
    @apply transform w-32 h-44 rounded shadow m-4 cursor-pointer;
  }

  .card:hover {
    @apply scale-110;
  }

  .diamond {
    @apply bg-gradient-to-r from-red-400 via-red-500 to-red-600;
  }
  
  .gold {
    @apply bg-gradient-to-r from-yellow-300 via-yellow-400 to-yellow-500;
  }
  
  .silver {
    @apply bg-gradient-to-r from-gray-300 via-gray-400 to-gray-500;
  }
  
  .cloth {
    @apply bg-gradient-to-r from-purple-400 via-purple-500 to-purple-600;
  }
  
  .spice {
    @apply bg-gradient-to-r from-green-400 via-green-500 to-green-600;
  }
  
  .leather {
    @apply bg-gradient-to-r from-yellow-700 via-yellow-800 to-yellow-900;
  }

  .camel {
    @apply bg-gray-200;
  }

  .token {
    @apply w-16 h-16 rounded-full shadow m-4 cursor-pointer inline-block text-center align-middle;
  }
  .token:hover {
    @apply transform scale-110;
  }
}

body {
  @apply bg-gray-800;
}


